a(href="#").search-page-link
    i.fa.fa-2x.fa-search
nav.navbar.navbar-expand-lg.nav-box.nav-fill
  button#burger.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='.dual-collapse', aria-controls='nav', aria-expanded='false', aria-label='Toggle navigation')
    span.mx-1.mx-2.close
        i.zmdi.zmdi-close
    span.navbar-toggler-icon
        i.zmdi.zmdi-menu
  #nav.navbar-collapse.navbar-expand-md
    .container.no-padding
        .row.no-gutters
            .col-lg-12.col-xs-12
                .navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse
                    ul.navbar-nav.mr-auto                      
                        each val, index in ['О компании', 'Новости', 'Галерея', 'Отзывы', 'Контакты']
                            li.nav-item
                                a(href = '#').nav-link
                                    = val
                .navbar-collapse.collapse.w-100.order-2.dual-collapse.left-menu
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.disabled(href='tel:+380672504939') +38 (067) 250-49-39 
                        li.nav-item
                            a.nav-link.disabled(href='mailto:kari-san@ukr.net' target='_blank') kari-san@ukr.net 
                        li.nav-item.custom-select
                            select#lang(name="lang")
                                option(value="0") UA
                                option(value="1") RU
                        li.nav-item.custom-select
                            select#curr(name="curr")
                                option(value="12") UAH
                                option(value="13") USD
                                option(value="13") EUR
.container.no-padding
    .row
        .col-md-2.col-lg-2.col-xs-12
            .logo
                img(src="img/logo.svg", alt="Kari-san")
        .col-md-10.col-lg-10.col-xs-12
            .container.no-padding#sticky
                .row.no-gutters
                    .col-md-12.col-lg-12
                        nav.navbar.navbar-light.nav
                            ul.navbar-nav.user
                                form.form-inline.my-2.my-lg-0.search
                                    input.form-control(type='search', placeholder='Что вы ищете?', aria-label='Search').search__field
                                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit').btn-search
                                        i.zmdi.zmdi-search
                                li.nav-item
                                    a.nav-link(href='#')
                                        i.zmdi.zmdi-favorite
                                        span.num 4
                                li.nav-item
                                    a.nav-link(href='#')
                                        i.zmdi.zmdi-shopping-cart
                                        span.num 4
                                li.nav-item
                                    a.nav-link(href='#')
                                        i.zmdi.zmdi-account
                                        span.num 4
                .row.no-gutters
                    hr.nav-hr
                    nav.navbar.navbar-expand-lg.cat-box
                        a.navbar-cat(href='#') Категории
                        button.cat-button.navbar-toggler(type='button', data-toggle='collapse', data-target='#cat', aria-expanded='false', aria-label='Toggle category')
                            span
                                i.zmdi.zmdi-apps
                        #cat.collapse.navbar-collapse.cat-mobile-menu
                            ul.cat.navbar-nav.mr-auto
                                each cat in ["постельное белье", "полотенца", "одеяла", "наматрасники", "покрывала" , "подушки" ]
                                    li.cat-item.nav-item
                                        a.nav-link(href="#")
                                            = cat



