.container-fluid.no-padding
  .row.no-gutters
    .col-xs-12.col.md-12.col-lg-12
        #carouselExampleIndicators.carousel.slide(data-ride="carousel")
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(alt="Постельное белье", srcset="img/slide-320w.jpg 320w, img/slide-768w.jpg 768w, img/slide-1920w.png 1920w", sizes="(max-width: 320px) 280px, (max-width: 800px) 1200px, 1920px")
              .container.no-padding
                .row.no-gutters
                  .col-md-12.col-lg-12
                    .carousel-caption.d-none.d-md-block
                      h2 Качественое постельное белье
                      p Обеспечь комфортный сон себе и своей семье
                      p
                        a.btn.btn-large.btn-custom.btn-custom--slider(href="#")
                          span Приобрести
            .carousel-item
              img.d-block.w-100(alt="Постельное белье", srcset="img/slide-320w.jpg 320w, img/slide-768w.jpg 768w, img/slide-1920w.png 1920w", sizes="(max-width: 320px) 280px, (max-width: 800px) 1200px, 1920px")
              .container.no-padding
                .row.no-gutters
                  .col-md-12.col-lg-12
                    .carousel-caption.d-none.d-md-block
                      h2 Качественое постельное белье
                      p Обеспечь комфортный сон себе и своей семье
                      p
                        a.btn.btn-large.btn-custom.btn-custom--slider(href="#")
                          span Приобрести
            .carousel-item
              img.d-block.w-100(alt="Постельное белье", srcset="img/slide-320w.jpg 320w, img/slide-768w.jpg 768w, img/slide-1920w.png 1920w", sizes="(max-width: 320px) 280px, (max-width: 800px) 1200px, 1920px")
              .container.no-padding
                .row.no-gutters
                  .col-md-12.col-lg-12
                    .carousel-caption.d-none.d-md-block
                      h2 Качественое постельное белье
                      p Обеспечь комфортный сон себе и своей семье
                      p
                        a.btn.btn-large.btn-custom.btn-custom--slider(href="#")
                          span Приобрести
            .container
              .row
                ol.carousel-indicators
                  li(data-target="#carouselExampleIndicators" data-slide-to="0").active
                  li(data-target="#carouselExampleIndicators" data-slide-to="1")
                  li(data-target="#carouselExampleIndicators" data-slide-to="2")



