doctype html
html(lang="uk")
    include _head.pug
    body
        include _nav.pug
        include _slider.pug
        include _slick.pug
        include _cart-slider.pug
        include _about.pug
        include _respond.pug
        include _main.pug
        include _footer.pug
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
        script(src="js/custom-select.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
        script(src="js/hoverdir.js")
        script(src="js/slick.js")
        script(src="js/burger.js")
        script(src="js/script.js")