@import'variable';
@import'mixin';

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {



}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

    .nav{
        display: flex;
        z-index: 200;
        height: auto;
        width: 100%;
        margin-bottom: 16px;
        justify-content: flex-start;
        &-item{
            &:first-child{
                padding-left: 0;
                margin-left: -15px;
                text-align: center;
            }
        }
        &-box{
            height: 100%;
        }
        &-link{
            color: $color-1;
        }

        }
   

    .search{
          display: none;
          &-page-link{
              display: block;
          }
    }


    .custom-select{

        display: inline;
    }

    .nav-hr{
        display: none;
    
    }

    .cat{
        &-button{
            position: absolute;
            top: 21%;
            right: 0;
        }
        &-item{
            width: 100%;
        }
        &-box{
            position: absolute;
            right: 5%;
            top: -16%;
            z-index: 601;
        }
    }
    .user{
        justify-content: flex-start;
        padding: 0;
        & a{
            font-size: .6em;
            margin: 0 6px;
            & .num{
                font-size: 1.2em;
            }

        }
    }
    .navbar-brand{
        padding-right: 30px; 
    }
    .cart-slider-header{
        text-align: left;
    }
    .prev, .next{
        top:-90px;
    }
    .dots{
        top: 100%;
    }
    .sticky{
        position: fixed;
        z-index: 600;
        top: 0;
        background-color: #fff;
        height: 40px;
    }

    .cart-item{
        padding-right: 10px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */


}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */


}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1000px) {

/* Styles */
.nav-box{
    background-color: $color-1;
    height: 40px;
}

.logo{
    padding: 15px 0;

    & img{
        width: 164px;
        height: 119px;
        margin: 0;
    }
}
.search{
    display: inline;
    &-page-link{
        display: none;
    }

}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

    
}

/* iPhone retina ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}

/* iPhone retina landscape----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5) 
and (orientation : landscape),
only screen and (min-device-pixel-ratio : 1.5)
and (orientation : landscape){

}