
@import 'variable';
@import 'mixin';
@import 'button';

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;

    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    //overflow: hidden;
}
.no-padding{
    padding: 0;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

.nav-box{
    background-color: $color-1;
    height: 40px;
}

.nav{
    display: inline-flex;
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    &-item{
        &:first-child{
            padding-left: 0;
            margin-left: -15px;
        }
    }

    &-link{
        
        display: inline;
        color: #ffffff;

        line-height: 40px;
        padding: 20px;
        text-decoration: none;
        font-weight: 900;



        &:hover{
            color: #fbfbfb;
        }
    }


}
.contact{
    color: #aca8bf;
    font-style: bold;
    line-height: 40px;
    text-decoration: none;
    display: inline-flex;
    &-item{
        padding: 0 10px;
    }




}

.logo{
    & img{
    width: 164px;
    height: 119px;
    }
}

.search{
    position: relative;
    display: inline;
    &__field{
        height: 50px;
        border-radius: 60px;
        background-color: #f6f6fb;
        border: none;
        width: 100%;
        padding-left: 20px;
        outline: none;
        outline-offset: 0;

    }

    &__submit{
        position: absolute;
        top: -5px;
        right: 0;
        background-color: transparent;
        border: none;
        outline: none;
        & i{
            color:#633b63;
            padding: 0 15px;
            
        }
    }
}

.user{
    display: flex;
    a{
        padding: 0 15px;
        color: #ddd;
        position: relative;
        display: block;
        text-decoration: none;
        .num{
            position: absolute;
            right: 10px;
            top: 6px;
            color: #fff;
            background-color: red;
            display: block;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }
    }
}


.nav-hr{
    height: 2px;
    width: 100%;
}

.cat{
    &-item{
        display: inline-flex;
        justify-content: center;
        & a{
            padding: 12px 20px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            color: #aca8bf;
        }
    }
}

.custom-select {
    position: relative;
    font-family: Arial;
    font-weight: 600;
    height:35px;
    padding: 0;
    line-height: 38px;
    border: none;
    & select{
        display: none;
    }
}

.select-selected {
    background-color: $color-1;
    &:after{
        position: absolute;
        font-family: "FontAwesome";
        content: '\f107';
        top: -0px;
        right: 18px;
        width: 0;
        height: 0;
        //border: 6px solid transparent;
        //border-color: #fff transparent transparent transparent;

    }
    &.select-arrow-active:after{
        font-family: "FontAwesome";
        content: '\f106';
        line-height: 40px;
        top: 0;
        position: absolute;
        z-index: 101;
        }
}


.select-items div,.select-selected {
    color: #ffffff;
    padding: 0 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
 
.select-items {
    position: absolute;
    background-color: $color-1;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
.select-hide {
    display: none;
  }
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .carousel-indicators{
    justify-content: flex-start;
    margin-left: 30px;
    left: 0;
    bottom: 0;
    & li{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #fff;
      &.active{
        background-color: purple;
      }
  }}
  
  .carousel-caption{
  text-align: left;
  left: 0;
  justify-content: flex-start;
    
    //bottom: initial;
    padding: 0 30px;
    h2{
  
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #633b63;
      margin: 0 0 15px;
      text-transform: uppercase;
      text-align: left;
      
    }
    p{
      font-size: 20px;
      color: #1a1a1a;
      margin-bottom: 60px;
    }
  }
  
  .btn-custom{
    text-transform: uppercase;
    &--slider{        
      width:263px;
      display:flex;
      align-items:center;
      justify-content:center;
      height:60px;
      border-radius:60px;
      background-color:#e83c4d;
      font-size:16px;
      font-weight:700;
      text-align:center;
      color:#ffffff;
      text-transform:uppercase;
      transition:.3s;
      border: none;
    }
  }