
@import 'variable';
@import 'mixin';
@import 'button';

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;

    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.nav-box{
    background-color: #633b63;
    height: 40px;
}

.nav{
    display: inline-flex;
    height: 40px;
    width: 100%;
    
    &-item{

    }

    &-link{
        font-style: bold;
        color: #ffffff;
        line-height: 40px;
        padding: 20px;
        text-decoration: none;


        &:hover{
            color: #fbfbfb;
        }
    }


}
.contact{
    color: #aca8bf;
    font-style: bold;
    line-height: 40px;
    text-decoration: none;
    display: inline-flex;
    &-item{
        padding: 0 10px;
    }




}

.logo{
    & img{
    width: 192px;
    height: 172px;
    }
}

.search{
    position: relative;
    display: inline;
    &__field{
        height: 50px;
        border-radius: 60px;
        background-color: #f6f6fb;
        border: none;
        width: 100%;
        padding-left: 20px;
        outline: none;
        outline-offset: 0;

    }

    &__submit{
        position: absolute;
        top: -5px;
        right: 0;
        background-color: transparent;
        border: none;
        outline: none;
        & i{
            color:#633b63;
            padding: 0 15px;
            
        }
    }
}

.user{
    display: flex;
    a{
        padding: 0 20%;
        color: #ddd;
        position: relative;
        display: block;
        text-decoration: none;
        .num{
            position: absolute;
            right: 10px;
            top: 6px;
            color: #fff;
            background-color: red;
            display: block;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }
    }
}


.nav-hr{
    height: 2px;
    width: 100%;
}

.cat{
    &-item{
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        & a{
            padding: 12px 24px;
            text-transform: uppercase;
        }
    }
}